<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="first.test.com.bscenter">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="first.test.com.bscenter.base.MyLeanCloudApp"
        android:theme="@style/AppTheme">
        <activity android:name="first.test.com.bscenter.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.GestureDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.FaceDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".activity.main.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.main.ImageWallActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.main.VideoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.main.AudioActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.main.DocumentsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.main.ZipActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.main.ApplicationsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.main.ApksActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.main.AboutMeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.main.WelcomActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.main.StartUI"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activity.main.DetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <service
            android:name=".core.engine.service.delete.DeleteFileService"
            android:exported="false"
            android:process=":remote" >
            <!--<intent-filter>-->
                <!--<action android:name="first.test.com.bscenter.core.engine.service.delete.DeleteFileService" />-->
            <!--</intent-filter>-->
        </service>
        <service
            android:name=".core.engine.service.copy.CopyFileService"
            android:exported="false"
            android:process=":remote" >
            <!--<intent-filter>-->

                <!--<action android:name="first.test.com.bscenter.core.engine.service.copy.CopyFileService" />-->
            <!--</intent-filter>-->
        </service>

        <provider
            android:name=".utils.MyFileProvider"
            android:authorities="com.test.bscenter.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_download_paths" />
        </provider>
    </application>

</manifest>